.header {

    margin: 50px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-size: 28px;
        font-weight: 700; 
        
        &-span{
            color: #9F0013; 
            display: inline-block;
            padding-right: 8px;
        }
    }

    &__list-link {
        font-size: 24px;
        font-weight: 700;
        line-height: normal;
    }

    &__list-link.active {
        color: #9F0013;
    }

    &__list-character{
        font-weight: 700;
        font-size: 24px;
        margin: 0 8px;
    }
    
}